[Unit]
Description="Raspberry Pi CPU fan service."

[Install]
WantedBy=multi-user.target

[Service]
User=pifan
Group=pifan
Type=simple
ExecStart=/usr/local/bin/pifand
StandardOutput=null
StandardError=journal
TimeoutSec=20
