version: 0.2.{build}

image: Ubuntu1804

branches:
  only:
  - master

clone_depth: 5

platform:
  - ARM

configuration:
  - Release

environment:
  matrix:
    - generator: "Unix Makefiles"

install:
  # Make sure that we have our requirements installed
  - sudo apt install pkg-config libjsoncpp-dev libgtkmm-3.0-dev

  # Install pigpio
  - rm master.zip
  - sudo rm -rf pigpio-master
  - wget https://github.com/joan2937/pigpio/archive/master.zip
  - unzip master.zip
  - cd pigpio-master
  - make
  - sudo make install

build_script:
  - cd $APPVEYOR_BUILD_FOLDER
  - ls
  - cd ..
  - mkdir build
  - cd build
  # Generate build scripts
  - cmake $APPVEYOR_BUILD_FOLDER -G "$generator"

  # Build and pack
  - cmake --build . --target ALL_BUILD --config $configuration
  - cmake --build . --target PACKAGE --config $configuration 
  