version: 2.1
jobs:
  build:
    docker:
      - image: debian:stretch
    parallelism: 2

    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-
            
      - checkout

      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"


      - restore_cache:
          keys:
            - system-deps

      - run:
          name: Install dependencies
          command: |
            apt update
            apt install -y python3 clang libjsoncpp-dev pkg-config unzip wget tar build-essential devscripts debhelper
            dpkg-query -l >> system-packages.txt

      - save_cache:
          key: system-deps
          paths:
            - "system-packages.txt"

            
      - run:
          name: Install pigpio from source
          command: |
            wget https://github.com/joan2937/pigpio/archive/master.zip
            unzip master.zip
            cd pigpio-master
            make
            make install
            
      - run:
          name: Clean pigpio files
          command: |
            rm master.zip
            rm -r pigpio-master
            
      - run:
          name: Install CMake
          command: |
            export CXX=/usr/bin/clang++
            export CC=/usr/bin/clang
            wget https://github.com/Kitware/CMake/releases/download/v3.15.4/cmake-3.15.4-Linux-x86_64.tar.gz
            tar -xzf cmake-3.15.4-Linux-x86_64.tar.gz
            cd cmake-3.15.4-Linux-x86_64
            install -D ./bin/* /usr/bin/
            install -d /usr/share/cmake-3.15
            cp -r ./share/cmake-3.15/* /usr/share/cmake-3.15/
            cmake --version
            
            
      #- run:
      #    name: Clean CMake files
      #    command: |
      #      rm cmake-3.15.4.tar.gz
      #      rm -r cmake-3.14.4

      - run:
          name: Link JSONCPP to correct location
          command: ln -s /usr/include/jsoncpp/json/ /usr/include/json
      
      - run:
          name: Build application
          command: |
            export CXX=/usr/bin/clang++
            export CC=/usr/bin/clang
            mkdir build
            cd build
            # Generate build scripts
            cmake .. -G "Unix Makefiles" -DCMAKE_INSTALL_PREFIX=../pifan

            # Build
            cmake --build . --config Release
            
      - run:
          name: Install and tar application
          command: |
            mkdir pifan
            cd build
            cmake --install . --config Release
            
            # Tarball installed files
            cd ..
            tar -cvzf pifan.tar.gz ./pifan
            mkdir build-artifacts
            cp pifan.tar.gz build-artifacts/pifan-{{ .Branch }}-{{ .Revision }}.tar.gz
            
      - store_artifacts:
          path: ./build-artifacts/
