version: 2.1
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            apt update && apt install -y python3 clang libjsoncpp-dev pkg-config unzip wget tar build-essential
            
      - run:
          name: Install pigpio from source
          command: |
            wget https://github.com/joan2937/pigpio/archive/master.zip
            unzip master.zip
            cd pigpio-master
            make
            make install
            
      - run:
          name: Clean pigpio files
          command: |
            rm master.zip
            rm -r pigpio-master
            
      - run:
          name: Install CMake
          command: |
            export CXX=/usr/bin/clang++
            export CC=/usr/bin/clang
            wget https://github.com/Kitware/CMake/releases/download/v3.15.4/cmake-3.15.4-Linux-x86_64.tar.gz
            tar -xzf cmake-3.15.4-Linux-x86_64.tar.gz
            cd cmake-3.15.4-Linux-x86_64
            install -D ./bin/* /usr/bin/
            install -D ./doc/* /usr/share/doc/
            install -D ./man/* /usr/share/man/
            install -D ./share/* /usr/share/
            cmake --version
            
            
      - run:
          name: Clean CMake files
          command: |
            rm cmake-3.15.4.tar.gz
            rm -r cmake-3.14.4

      - run:
          name: Link JSONCPP to correct location
          command: ln -s /usr/include/jsoncpp/json/ /usr/include/json
      
      - run:
          name: Build application
          command: |
            export CXX=/usr/bin/clang++
            export CC=/usr/bin/clang
            mkdir build
            ls
            cd build
            # Generate build scripts
            cmake .. -G "Unix Makefiles"

            # Build
            cmake --build . --config Release
