version: 2.1
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            apt update && apt install -y python3 clang libjsoncpp-dev pkg-config libgtkmm-3.0-dev cmake unzip wget
            
            # Install pigpio
            wget https://github.com/joan2937/pigpio/archive/master.zip
            unzip master.zip
            cd pigpio-master
            make
            sudo make install

      - run:
          name: Link JSONCPP to correct location
          command: ln -s /usr/include/jsoncpp/json/ /usr/include/json
      
      - run:
          name: Build application
          command: |
            mkdir build
            cd build
            # Generate build scripts
            cmake ../pifan/ -G "Unix Makefiles"

            # Build
            cmake --build . --config Release
