version: 2.1
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: sudo apt update && sudo apt install -y python3 clang libjsoncpp-dev pkg-config libgtkmm-3.0-dev libpigpiod-if-dev cmake

      - run:
          name: Link JSONCPP to correct location
          command: sudo ln -s /usr/include/jsoncpp/json/ /usr/include/json
      
      - run:
          name: Build application
          command: |
            mkdir build
            cd build
            # Generate build scripts
            cmake ../pifan/ -G "Unix Makefiles"

            # Build
            cmake --build . --config Release