[Unit]
Description="Raspberry Pi CPU fan service."

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pifand
TimeoutSec=20
